@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Sansita+Swashed:wght@700&display=swap");

$font-pack-1: "Sansita Swashed", cursive;
$font-pack-2: "Architects Daughter", cursive;
$gradient: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

html,
body {
  font-family: $font-pack-2;
}

.header {
  height: 10vh;
  background-image: $gradient;
  padding: 15px 20px;
  border-bottom: 5px dotted green;
}

.recipeX {
  font-family: $font-pack-1;
  text-align: center;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.search-form {
  margin-top: 10px;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 17px;
  border-radius: 5px;
}

.search-button {
  background: $gradient;
  border: 3px inset grey;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 2px;
  margin-left: 9px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800px;
  font-family: $font-pack-2;
}

.container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 30px;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.recipe-item {
  width: 100%;
  height: 100%;
  border: 6px outset grey;
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
  h1 {
    text-align: center;
    cursor: pointer;
    font-size: 1.7rem;
    min-height: 60px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  img {
    border: 2px outset grey;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    margin-bottom: 30px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    }
  }
}

.err {
  text-align: center;
  cursor: pointer;
  border: 6px outset grey;
  border-radius: 10px;
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
  width: 50%;
  margin: 0 auto;
  padding: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  }
}

@media only screen and (max-width: 1650px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
  .err {
    font-size: 1.5rem;
    padding: 18px;
  }
}

@media only screen and (min-width: 1100px) {
  .recipeX {
    font-size: 40px;
  }
}
